body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("./assets/images/guitar-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

span {
  > .p-inputtext {
    &:enabled {
      &:focus {
        border-color: black !important;
        box-shadow: 0 0 0 0.02rem black !important;
      }
    }
    &:hover {
      box-shadow: 0 0 0 0.02rem black !important;
    }
  }
}
